{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n %}

{% block titletag %}{% trans "Add image from URL" %}{% endblock %}

{% block content %}
  <div class="nice-padding">
    <h1>{% trans "Add image from URL" %}</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button button-primary">{% trans "Add image" %}</button>
    </form>
  </div>
{% endblock %}

{% block header %}
  {% include "wagtailadmin/shared/breadcrumbs.html" with items=breadcrumbs_items %}
{% endblock %}
